<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 text-center">
    <img src="images/lennySmile.svg" alt="I'm Lenny">
  </div>
  <div class="col-md-6">
    <h2>Why LennyLearny?</h2>

    <small>This is a pre-alfa version of the app.</small>

    <small>Here is what it is going to be used for:</small>
    <br>
    <br>
      <br>
    <ul class="list-unstyled">
        <li>Learn new skills, get inspired and motivated</li>
        <li>Create your individual learning path</li>
        <li><strong>OR</strong></li>
        <li>Select the one you like from another user
            <li><strong>AND</strong></li>
        Start learning any skill in a group of peers</li>
    </ul>
  </div>
    </div>
</div>




